@import 'header';
@import 'materialize';
$header-gray:#636364;
$text-gray:#757575;
$section-gray:#f5f6f6;
$dark-gray:#404041;
$light-blue: #27a9e1;


html {
	font-family:'Roboto';
}

.scroll {
	font-family:"Roboto";
	position:fixed;
	top:200px;
	right:0;
	z-index:999;
	ul {
		&.table-of-contents {
			width:150px;
			li {
				a {
					text-decoration: none;
					border-color:#27a9e1;
				}
			}
			&.alt-menu {
				li {
					a {
						transition:color .23s ease-in;
						transition:border-color .23s ease-in;
						color:#fff;
						border-color:#fff;
					}
				}
			}
		}
	}
}

h2.special-title {
	font-family:'Roboto';
	position:relative;
	display:inline-block;
	text-transform:uppercase;
	color:$text-gray;
	font-size:12pt;
	font-weight:400;
	line-height:3;
	margin-bottom:30px;
	.border-bottom {
	  border-bottom: 2px solid $light-blue;
	  position: absolute;
	  bottom: 0;
	  left:0;
	  width:50%;
	  &.white {
	  	border-color:#fff;
	  }
	  &.orange {
	  	border-color:#f79420;
	  }
	}
}
h2.special-title-2 {
	font-family:'Roboto Slab';
	font-weight:300;
	font-size:26pt;
	padding-top:0;
	margin-top:0;
}
p {
	&.gray-paragraph {
		color:$text-gray;
		font-family:'Roboto';
		font-weight:300;
		font-size:12pt;
		line-height:1.7;
	}
}

.section.scrollspy {
	padding-bottom:0;
	.container {
		padding:100px 0 100px 0;
	}
	&#home {
		.container {
			padding-top:150px;
			padding-bottom:0;
		}
		font-family:'Roboto';
		.headline {
			margin-top:125px;
			text-align: right;
		}
		img {
			height:400px;
		}
		h1.my-name {
			margin-bottom:0;
			font-size:28pt;
			font-weight:300;
			color:$header-gray;
		}
		h3.sub-title {
			margin-top:5px;
			color:$text-gray;
			font-size:12pt;
			font-weight:300;
			text-transform: normal;
		}
	}
	&#about {
		color:$text-gray;
		background-color:$section-gray;
		.hobbies {
			&.collection {
				margin-top:30px;
				transition:all .4s ease-in;
				&:hover {
					@extend .z-depth-1;
				}
				h4 {
					font-size:16pt;
					font-weight:300;
					font-family:'Roboto Slab';
				}
				font-size:12pt;
				color:$dark-gray;
			}
		}
	}
	&#projects {
		.card.medium {
			box-shadow:none;
			border:1px solid #f6f6f6;
			.simpleLift {
				padding:20px;
				background-color:$light-blue;
				img {
					width:200px;
					max-width:100%;
					margin:0 auto;
				}
			}
			&:hover {
				@extend .z-depth-1;
			}
		}
	}
	&#skills {
		padding-top:0;
		position:relative;
		color:#fff;
		h2.special-title {
			color:#fff;
		}
		div.overlay {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color:rgba(247,147,29,0.2);
		}
		.collapsible {
			color:$dark-gray;
		}
	}
	&#contact {
		color:#fff;
		background-color:$light-blue;
	}
}